/*********************************** feuille de style du site phase 2 WebForce 3  ***********************************/

* {
    /* voir https://developer.mozilla.org/fr/docs/Web/CSS/box-sizing  */
    box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/* google fonts utilisés dans le style : oswald, lemonada, anton */
body {
    background-image: url(../img/concrete-texture.png);
}

/*********************************** TITRES TEXTES ETC.  ************************************/
h1 {
    font-family: 'Anton', sans-serif;
    font-size: 44px;
    color: #2980b9;
    text-align: center;
    letter-spacing: 1px;   
}

h2 {
    font-size: 35px;
    color:#2c3e50;
    padding: 20px;
    font-weight: bold;
    /* ombre portée  sur le lettrage*/
    text-shadow: 1px 1px 2px #aaa;
}

h3 {
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
    /* ombre portée  sur le lettrage*/
    text-shadow: 1px 1px 2px #aaa;
}

h4 {
    text-align: center;
    margin-top: 30px;
}

blockquote {
    font-style: italic;
    font-size: 120%;
}

strong {
    font-weight: bold;
}
/*********************************** HEADER INDEX ET SITE ***********************************/

header {
    background-color: #2c3e50;
    height: 175px;
}

#logo {
    background-color: #2c3e50;
    width: 25%;
    float: left;
    padding: 15px;
    text-align: center;
}

#slogan {
    background-color: #2c3e50;
    width: 50%;
    float: left;
    padding-top: 50px;
}

#social {
    width: 25%;
    float: left;
}

/*********************************** DEBUT NAV ***********************************/

nav {
    background: #bed4e2;
    height: 70px;
    padding: 15px;
    border-bottom: 8px solid #6acafc;
    text-align: center;
}

nav a {
    margin: 10px;
    padding: 2px 10px;
    border-radius: 10px 0px;
    border: 2px solid #fff;
    background: #6acafc;

    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
}

nav a:hover {
    background: #2c3e50;
    color: #fff;
}

.active {
    background: #2c3e50;
    color: #fff;
}

/*********************************** ZONING INDEX  ***********************************/

main {
    /* alpha degré d'opacité de la couleur  */
    background: rgba(178, 178, 178, 0.30);
    margin: 0 auto;
    /* piso ai changé largeur  */
    width: 1200px;
}

aside {
    height: 250px;
    background: #a6d6c3;
}

section {
    /* background: #daf7a6; */
    margin-top: 50px;
    padding: 20px;
}

footer {
    background: #2980b9;
    height: 30px;
    color: #fff;
}

/*********************************** LA PAGE ZONING  ***********************************/

/* le zoning 1  */
#zoning1 {
    background: red;
    border: 1px solid #2c3e50;
    width: 798px;
    margin: auto;
    text-align: center;
}

#zoning1 header {
    background-color: #f7f39a;
    height: 70px;
}

#zoning1 aside {
    background-color: #10828c;
    height: 525px;
    float: left;
    width: 20%;
    color: white;
}
 
#zoning1 section {
    height: 525px;
    width: 80%;
    float: left;
    background: #38817a;
    margin: 0;
    padding: 0;
}

/* Le zoning n°2  */

#zoning2 {
    background: #ffd6d6;
    border: 1px solid #2c3e50;
    width: 798px;
    margin: auto;
    text-align: center;
}

#zoning2 header {
    background: red;
    color: #6acafc;
    height: 70px;
}

#zoning2 aside {
    background: #6acafc;
    float: left;
    width: 20%;
    height: 500px;
    color: white;    
}
.milieu {
    width: 60%;
    float: left;
    background: orange;
    height: 500px;
}

/* le zoning n°3  */

#zoning3 {
    background: #ffd6d6;
    width: 800px;
    text-align: center;
    color: #fff;
    margin: auto;
    /* border: 10px solid red; */
}

#zoning3  section {
    height: 525px;
    float: left;
    width: 50%;
    background: #205d67;
    margin: 0;
    padding: 0;
    /* border: 10px solid #fff; */
}

#zoning3 footer {
    height: 70px;
    float: left;
    width: 100%;
    background: #d8ebb5;
    color: black;
}

/* le zoning 4  */

#zoning4 {
    background: #fff;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    border: 20px dotted red;
}

#zoning4 header {
    height: 100px;
    background: #10828c;
}

#zoning4 nav {
    height: 50px;
    background: #bed4e2;
    border: none;
}

#zoning4 section {
    height: 200px;
    background: red;
    border: 20px dotted olive;
}

#zoning4 footer {
    height: 100px;
    background:#6acafc;
}

/* le zoning 5  */

#zoning5 {
    background: #ECEBE9;
    border: 2px solid black;
}

#zoning5 header {
    background: #F8D771;
    height: 100px;    
}

#zoning5 nav {
    background: olive;
    height: 50px;
    border: none;       
}

#zoning5 .section {
    padding: 0;
}

#zoning5 .section .z1, .z2, .z3, .z4 {
    float: left;
    width: 50%;
    height: 250px; 
}

#zoning5 .z1, .z4 {
    background: #F8D771;    
}

#zoning5 .z2, .z3 {
    background: #fce38a;    
}

#zoning5 footer {
    background: red;
    height: 90px;
}

/* le zoning 6  */

#zoning6 {
    width: 800px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

#zoning6 header {
    background: #40a497;
    height: 180px;
}

.haut1  {
    background: #203562;
    float: left;
    width: 25%;
    height: 100%;
}

.haut2 {
    background: #3e588f;
    float: left;
    width: 50%;
    height: 100%;
}

.haut3 {
    background: #203562;    
    float: left;
    width: 25%;
    height: 100%;
}


#zoning6 nav {
    background: #0B5269;
    height: 80px;
    border: none;
}

#zoning6 aside {
    background: #446878;
    float: left;
    width: 25%;
    height: 650px;
}

.slideshow {
    background: #314a52;
    height: 250px;
}

#zoning6 .a {
    background: #c0c5cd;
    float: left;
    width: 50%;
    height: 250px;
}

#zoning6 .b {
    background: #203562;
    float: left;
    width: 50%;
    height: 250px;
}

#zoning6 section {
    float: left;
    width: 75%;
    margin: 0;
    padding: 0;
}
#zoning6 .c, .e {
    background: #c0c5cd;
    width: 25%;
    height: 150px;
    float: left;
}

#zoning6 .d, .f {
    background: #203562;
    width: 25%;
    height: 150px;
    float: left;
}

#zoning6 footer {
    background: #0B5269;
}

/*********************************** FLOAT  ***********************************/

.clear {
    clear: both;
}

/*********************************** LA PAGE TEXTE  ***********************************/

.oswald p {
    font-family: 'Oswald', sans-serif;
}

/*********************************** LA PAGE SELECTEUR  ***********************************/

.select p {
    color: red;
}
.select p:first-of-type {
    color: pink;
}
.select p:last-of-type {
    color: pink;
}
.select p:nth-of-type(5), .select p:nth-of-type(6) {
    color:black;
}
.select div:not(.zoneB) {
    font-weight: bold;
}
.select .zoneA {
    color: #f56f56;
}
.select .zoneB {
    color: #996633;
}
.select .zoneB .couleurBleu {
    color: blue;
    font-size: 16px;
}
.select #zoneC {
    color: #98f32f;
}
.select #zoneD span {
    color: #32ff32;
    font-size: 30px;
    font-style: italic;
}

/*********************************** LA PAGE DES IMAGES  ***********************************/


.imageFond {
    background: url(../img/fond.jpg) no-repeat;
    background-size: cover;
    /* https://developer.mozilla.org/fr/docs/Web/CSS/background-size  */
}

.imageFond p {
    width: 75%;
    margin: 100px auto 200px auto;
    padding: 20px;
    background: rgba(255,255,255, 0.60);
    font-size: 120%;
    border-radius: 10px;
}
/* on pointe cette image spécifique  */
img[src="../img/toureiffel.jpg"] {
    width: 200px;
    margin: auto;
    display: block;
}

/* animations sur les images  */

.rotationImg {
    text-align: center;
}

.image {
    margin: 20px;
    border: 5px solid #eee;
    box-shadow: 4px 4px 4px rgba(71, 35, 201, 0.877);
    transition: 1s;
}

.image:hover {
    transform: rotate(-7deg);
    border: 15px solid #eee;
}

.rotation360:hover {
    transform: rotate(-360deg);
}

/*********************************** LA PAGE TABLEAU  ***********************************/

.tableau table {
    /* border-collapse: collapse; */
    width: 80%;
    margin: auto;
    border: 2px solid #6495ed;
    font-weight: bold; 
}

.tableau thead, .tableau tfoot {
    background: #d0e3fa;
    border: 1px solid #6495ed;
}

.tableau tbody {
    border: 1px solid #6495ed;
}

.tableau th {
    border: 1px solid #6495ed;
    padding: 5px;
    width: 20%;
}

.tableau td {
    border: 1px solid #6495ed;
    padding: 5px;
    text-align: center;
    font-size: 80%;
}


/*********************************** LA PAGE LISTES  ***********************************/

ul.fruit li {
    display: inline;
    margin: 15px;
}

li .fa {
    font-size: 90%;
    color: #6495ed;
}

li .fa:hover {
    font-size: 150%;
    color: #3e588f;
}

.imbriquee, .imbriquee ul {
    padding-left: 15px;
}

.imbriquee {
    cursor: pointer;
}

.imbriquee ul {
    /* display n'affiche pas le contenu de l'élément  */
    display: none;
}

.europe:hover ul, .asie:hover ul{
    /* display block je fais réapparaître les éléments de la ul  */
    display: block;   
}

.imbriquee li ul li:hover{
    font-size: 150%;
    background: #E74C3C;
    display: inline;
    box-shadow: 5px 10px 10px grey;
    transition-duration: 1s;
}

/*********************************** LA PAGE FORMULAIRE  ***********************************/

form {
    width: 60%;
    background: #2c3e50;
    margin: 0 auto;
    padding: 20px;
    color: #ecf0f1;
    border-radius: 15px;
}

label {
    margin: 10px 0;
    width: 40%;
    display: inline-block;
}

textarea  {
    resize: none;
}

label[for="orange"], label[for="fraise"], label[for="poire"] {
    width: 15%;
    padding-left: 45px;
}

/*********************************** LA PAGE DES LIENS ET DES MENUS  ***********************************/
/* styles des liens  */
.ancre {
    text-align: center;
}

.ancre a {
    margin: 8px;
    padding: 5px 10px;
    border-radius: 15px;
    background: #2c3e50;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0px 0px 10px 3px #000;
    font-family: 'Oswald', sans-serif;
}

.ancre a:hover {
    
    box-shadow: none;
    transition-duration: 0.5s;
    text-shadow: 1px 5px 10px grey;
}

#lien a{
    text-decoration: none;
    color: #2980b9;
    display: inline-block;
    margin-bottom: 15px;
}
#lien a:hover{
    color: #f16529;
}

/* menu  */

#menu nav {
    background: transparent;
    border: none;
}

#menu ul {
    text-align: center;
}

#menu ul li {
    /* cf. https://www.alsacreations.com/article/lire/1209-display-inline-block.html  */
    display: inline-block;
}

#menu nav a {
    padding: 10px;
    color: grey;
    background: #ddd;
    /* ease-in lent au début et accélère de plus en plus sur la fin  */
    transition: 1s ease-in;
}

#menu nav a:hover {
    color: #fff;
    background: #069;  
}

/* le menu déroulant  */

#menuDeroulant {
    height: 650px;
}

#menuDeroulant nav {
    background: transparent;
    border: none;
    width: 90%;
    margin: 0 auto;
}

#menuDeroulant nav ul li{
    float: left;
    width: 20%;
}

#menuDeroulant ul ul{
   display: none;
}

#menuDeroulant nav ul li ul li {
    border-top: 1px solid #464646;
    width: 100%;
}

#menuDeroulant nav li{
   background: #ccc;
 }

 #menuDeroulant nav li a {
     /* on met les a dans les li de toutes les ul en display block  */
     display: block;
     color: #000;
     padding: 4px 0 4px;
 }

 #menuDeroulant ul {
     text-align: center;
  }

/* les ul qui sont de class niveau 2, et qui sont dans un li de class sousMenu sur lequel on a un hover, li qui se trouvent dans la ul de class niveau 1  sont display block */
#menuDeroulant nav ul.niveau1 li.sousMenu:hover ul.niveau2 {
    display: block;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/*********************************** LA PAGE MULTIMEDIA  ***********************************/

.videoFond {
    padding-left: 0;
    padding-right: 0;
}
.videoFond video {
    width: 100%;
    /* position absolue  */
    position: absolute;
    /* ordre d'empilement  position en bas */
    z-index: 1;
}
.videoTexte {
    /* position relative au parent  */
    position: relative;
    width: 100%;
    height: 500px;
}
.videoFond p {
    position: absolute;
    /* z-index 2 en numéro 2  */
    z-index: 2;
    width: 500px;
    margin: auto;

    left: 250px;
    top: 150px;
    background: rgba(255, 255, 255, 0.60);
    padding: 20px;
    border-radius: 15px;
    font-size: 120%;
}

iframe[src="https://www.youtube.com/embed/Gcqu2V5lBZo"] {
    width: 100%;
    height: 700px;
}

.audio{
    text-align: center;
}

.youtube {
    padding: 100px;
}

/* LA PAGE POSITION  */


/* position absolute  */

.centre {
    background: #33cccc;
    width: 500px;
    height: 200px;
    margin: 0 auto;
}

.absolute {
    background: orange;
    width: 100px;
    height: 100px;
/* élément de position absolue est positionné par rapport à son ancêtre  */
    position: absolute;
    left: 10%;
    top: 24%;
}

/* position relative  */

.relative {
    background: #2d5c7f;
    width: 400px;
    height: 400px;

    position: relative;
    top: 100px;
    bottom: 10px;
    left: 100px;
}

.relative div {
    background: orangered;
    width: 150px;
    height: 50px;
/* la position est absolue par rapport à son parent relatif  */
    position: absolute;
    top: 0;
    left: 0;
}

.relative div p {
    line-height: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* le bouton pour remonter en haut de page */

button {
    font-size: 350%;
    background: transparent;
    border: none;
    color: #2c3e50;

    position: fixed;
    bottom: 40px;
    right: 20px;
}

/* les pourcentages */

.trente {
    width: 30%;
    background: #3c1b1f;
    padding: 20px;

    font-size: 22px;
    font-weight: bold;
    color: white;
}

.cinquante {
    width: 50%;
    background: #b2b2b2;
    padding: 20px;
    margin-top: 7px;

    font-size: 22px;
    font-weight: bold;
    color: white;
}

.cent {
    width: 100%;
    background: #6e0b0b;
    padding: 20px;
    margin-top: 7px;

    font-size: 22px;
    font-weight: bold;
    color: white;
}

/* le float  */

.float {
    height: 170px;
    width: 170px;
    background: #F8D771;
    margin: 10px;
    border: 2px solid darkred;
    padding-top: 2px;
    float: left;

    text-align: center;
    font-size: 22px;
    color: orangered;
}

.dernier {
    height: 170px;
    width: 170px;
    background: #F8D771;
    margin: 10px;
    border: 2px solid darkred;
    padding-top: 2px;
    /* float: left; */

    text-align: center;
    font-size: 22px;
    color: orangered;
}

/* exercice sur le float */

.zone {
    height: 70px;
    background: orchid;
}

.zone1, .zone2, .zone3, .zone4 {
    height: 250px;
    /* border: 1px solid blue; */
    width: 25%;
    float: left;
}

.zone1 {
    background: crimson;
}

.zone2 {
    background: olive;
}

.zone3 {
    background: yellowgreen;
}

.zone4 {
    background: pink;
}

/* FLEXBOX */

.flex {
    /* display flex les éléments "s'alignent" dans le parent  */
    display: flex;
    /* les éléments occupent la largeur du parent avec un espace égal autour */
    justify-content: space-around;
    /* justify-content: space-between; */
    /* flex-direction: column-reverse; */
    flex-direction: row-reverse;
}

.flex div {
    width: 150px;
    height: 150px;
    background: darkblue;
    text-align: center;
    font-size: 50px;
    color:white;
}