/* feuille de style pour le zoning 8  */

/* SOLUTION 1 sans .clear dans le HTML  */

body {
    background: yellowgreen;
}

#conteneur {
    width: 800px;
    height: 600px;
    background: gray;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

header {
    background: red;
    height: 100px;
    width: 100%;
    line-height: 100px;

}

.gauche, .droite {
    background: lightblue;
    width: 150px;
    height: 500px;
    float: left;
    line-height: 500px;
}


.milieu {
    background: green;
    width: 500px;
    height: 500px;
    float: left;
}
.zone1, .zone2, .zone3, .zone4, .zone5 {
    /* avec .bas ces 5 éléments sont les enfants de .milieu  */
    background: pink;
    height: 500px;
    width: 100px;
    float: left;
    border: 1px solid white;
    box-sizing: border-box;
}
.bas {
    background: orange;
    height: 50px;
    /* .bas est l'enfant de l'élément .milieu et il a une postion relative à son parent  */
    position: relative;
    right: 0;
    /* .bas est positioné à 450 px du haut de l'élément .milieu   */
    top: 450px;
}
.bas p {
    /* line-height: 50px; */
    /* le p est absolue par rapport à son parent .bas (et non pas par rapport à l'ancêtre car .bas est relatif ) */
    position: absolute;
}

/* .clear {
    clear: both;
} */
